@charset "UTF-8";

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.container .container_contact h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.container .container_contact .contact_block {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.container .container_contact .contact_block .adress {
    width: 380px;
    /* 幅の指定に単位を追加 */
}

.container .container_contact .contact_block .adress .ttl {
    font-weight: bold;
    font-size: 18px;
}

.container .container_contact .contact_block .adress .explain {
    margin-bottom: 20px;
}

/* スマートフォン向けのスタイル調整 */
@media (max-width: 768px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .container_contact .contact_block {
        flex-direction: column;
        /* 項目を縦に並べる */
        margin-left: 0;
        /* マージンを削除 */
        margin-right: 0;
        /* マージンを削除 */
        align-items: center;
        /* 中央揃え */
    }

    .container .container_contact .contact_block .adress {
        width: auto;
        /* 幅を自動調整に */
    }
}