<!--
  開発用ブレイクポイント
  all(mobile):
  sm(min-width: 640px):スマホ横～
  md(min-width: 768px):タブレット
  lg(min-width: 1024px):ノートPC
  xl(min-width: 1280px):大型ディスプレイ
  2xl(min-width: 1536px):超ワイド画面
-->

<header
  class="sticky top-0 z-50 w-full border-b-2 border-[#e0a3d8ee] divide-gray-400 py-2 bg-white"
>
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between w-full max-w-screen-xl mx-auto"
  >
    <!-- ロゴ -->
    <a
      href="{{ '/' | relative_url }}"
      class="flex px-4 items-center justify-center md:justify-start mb-4 md:mb-0"
    >
      <img
        class="h-8 md:h-10 w-auto"
        src="{{ '/assets/images/logo_full.png' | relative_url }}"
        alt="ロボ技"
      />
    </a>

    <!-- ナビゲーション -->
    <nav
      class="flex flex-wrap divide-x divide-gray-400 text-center font-semibold text-sm md:text-base"
    >
      <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
      <a href="{{ '/projects/' | relative_url }}" class="nav-link">Projects</a>
      <a href="{{ '/members/' | relative_url }}" class="nav-link">Members</a>
      <a href="{{ '/contact/' | relative_url }}" class="nav-link">Contact</a>
    </nav>
  </div>
</header>
