@charset "UTF-8";


.container{
    margin-left: 100px;
    margin-right: 100px;
}

.container .container_task h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.container .container_task .task_block{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container .container_task .task_block .task{
    width: 380;

}

.container .container_task .task_block .task img{
    margin-bottom: 20px;
}

.container .container_task .task_block .task .ttl{
    font-weight: bold;
    font-size: 18px;
}

.container .container_task .task_block .task .explain{
    margin-bottom: 20px;
}
